{% extends "base/_admin_application.html" %}
{% load static %}

{% block content %}
    <div id="wrapper">
     <div class="normalheader">
        <div class="hpanel">
           <div class="panel-body">
              <a class="small-header-action" href="#">
                 <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                 </div>
              </a>
              <div id="hbreadcrumb" class="pull-right m-t-lg">
                 <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index-2.html">Dashboard</a></li>
                    <li>
                       <span>App views</span>
                    </li>
                    <li class="active">
                       <span>Dashboard </span>
                    </li>
                 </ol>
              </div>
              <h2 class="font-light m-b-xs">
                Account Summary
              </h2>
              <small>Show user data in clear profile design</small>
           </div>
        </div>
    </div>
     <div class="content">
        <div class="row">
           <div class="col-lg-3">
                <div class="hpanel hgreen contact-panel">
                    <div class="panel-body">
                        <span class="label label-success pull-right">NEW</span>
                        <img alt="logo" class="img-circle m-b" src="{{ user.avatar.url }}">
                        <h3><a href="#">{{ user.first_name }} {{ user.last_name }}</a></h3>
                        <div class="text-muted font-bold m-b-xs">{{ user.get_city_country_address }}</div>
                        <p>
                            {{ user.note }}
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right">
                                <div class="contact-stat"><span>Own: </span> <strong>{{ user.get_campaigns_count }}</strong></div>
                            </div>
                            <div class="col-md-4 border-right">
                                <div class="contact-stat"><span>Invested: </span> <strong>300</strong></div>
                            </div>
                            <div class="col-md-4">
                                <div class="contact-stat"><span>Sold: </span> <strong>400</strong></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hpanel stats">
                    <div class="panel-body no-shadow th-border h-200">
                        <div class="stats-title pull-left">
                            <h4>Overview</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-credit fa-4x"></i>
                        </div>
                        <div class="clearfix"></div>
                        <div class="m-t-xs">
                            <div class="row">
                                <div class="col-xs-6" style="">
                                    <small class="stat-label">Today</small>
                                    <h4>
                                        R170,20
                                        <i class="fa fa-level-down text-warning"></i>
                                    </h4>
                                </div>
                                <div class="col-xs-6" style="">
                                    <small class="stat-label">Last week</small>
                                    <h4>
                                        R580,90
                                        <i class="fa fa-level-up text-primary"></i>
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6" style="">
                                    <small class="stat-label">Today</small>
                                    <h4>
                                        R620,20
                                        <i class="fa fa-level-up text-primary"></i>
                                    </h4>
                                </div>
                                <div class="col-xs-6" style="">
                                    <small class="stat-label">Last week</small>
                                    <h4>
                                        R140,70
                                        <i class="fa fa-level-up text-primary"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hpanel">
                    <div class="panel-body text-center h-200 round-corners-down">
                        <i class="pe-7s-graph1 text-info fa-4x"></i>
                        <h1 class="m-xs">R1 206,90</h1>
                        <h3 class="font-extra-bold no-margins text-primary">
                            All Income
                        </h3>
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
              <div class="hpanel">
                 <div class="hpanel">
                    <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" href="#tab-1">Investments</a></li>
                    </ul>
                    <div class="tab-content">
                       <div id="tab-1" class="tab-pane active">
                          <div class="panel-body">
                             <div class="table-responsive">
                                <table class="table table-striped">
                                   <thead>
                                      <tr>
                                         <th>Investment </th>
                                         <th>Type </th>
                                         <th>City </th>
                                         <th>Progress </th>
                                         <th>Archived</th>
                                         <th>Closing Date</th>
                                         <th>Action</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                       {% for campaign in user.get_campaigns %}
                                          <tr>
                                             <td>{{ campaign.name }}</td>
                                             <td>{{ campaign.campaign_type.name }}</td>
                                             <td>{{ campaign.location.city }}</td>
                                             <td><span class="pie">{{ campaign.get_campaign_progress }}/100</span></td>
                                             <td>{{ campaign.get_campaign_progress }}%</td>
                                             <td>{{ campaign.estimated_investment_date|date:" M d, Y" }}</td>
                                             <td>
                                                <div class="btn-group">
                                                   <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle" aria-expanded="false">Action <span class="caret"></span></button>
                                                   <ul class="dropdown-menu">
                                                      <li><a href="#">Sell</a></li>
                                                      <li class="divider"></li>
                                                      <li><a href="#">details</a></li>
                                                   </ul>
                                                </div>
                                             </td>
                                          </tr>
                                       {% endfor %}
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     
     <footer class="footer">
        <span class="pull-right">
        LEAFBARK
        </span>
     </footer>
  </div>
{% endblock content %}

