{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Always force latest IE rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="description" content="Grecerola allows everyone the opportunity to invest in property with. Find a property you like and contribute towards its purchase - Soon become a share owner of the property.">
		<meta name="keywords" content="Property, Investment, Real Estate, Land, South Africa">

		<!-- Title -->
		<title>Grecerola | Property Investment</title>

		<!-- Favicon -->
		<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon"/>

		<!-- Custom style CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- responsive CSS -->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body class="home home-gradient home-top">
		<!-- ====== Preloader ======  -->
	    <!-- <div class="preloading">
			<div class="preloader loading">
			  <span class="slice"></span>
			  <span class="slice"></span>
			  <span class="slice"></span>
			  <span class="slice"></span>
			  <span class="slice"></span>
			  <span class="slice"></span>
			</div>
		</div> -->
		<!-- ======End Preloader ======  -->

		<div id="wrapper">
			<!-- Header  -->
			<header id="header" class="site-header">
				<div class="top-header clearfix">
					<div class="container">
						<ul class="socials-top">
							<li><a target="_Blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							  <li><a target="_Blank" href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							  <li><a target="_Blank" href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							  <li><a target="_Blank" href="http://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							  <li><a target="_Blank" href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						</ul>
						<div class="phone">Call Now +27 73 456 789</div>
					</div>
				</div>
				<div class="content-header">
					<div class="container">
						<div class="site-brand">
							<a href="{% url 'campaign-home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
						</div><!-- .site-brand -->
						<div class="right-header">					
							<nav class="main-menu">
								<button class="c-hamburger c-hamburger--htx"><span></span></button>
								<ul>
									<li>
										<a href="#">Home<i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Home v1</a></li>
											<li><a href="#">Home v2</a></li>
											<li><a href="#">Home v3</a></li>
											<li><a href="#">Home Gradient</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Explore<i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Explore Layout One</a></li>
											<li><a href="#">Explore Layout Two</a></li>
											<li><a href="#">Explore Layout Three</a></li>
										</ul>
									</li>
									<li>
									<a href="#">Start a Campaigns<i class="fa fa-caret-down" aria-hidden="true"></i></a>
									<ul class="sub-menu">
										<li><a href="#">Create a campaign</a></li>
										<li><a href="#">Update a campaign</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Pages<i class="fa fa-caret-down" aria-hidden="true"></i></a>
									<ul class="sub-menu">
										<li><a href="#">Coming Soon</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">404</a></li>
										<li><a href="#">Login</a></li>
										<li><a href="#">Register</a></li>
										<li><a href="#">Faq</a></li>
										<li><a href="#">Campaign details</a></li>
									</ul>
								</li>
									<li>
										<a href="#">Blog<i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Blog Grid</a></li>
											<li><a href="#">Blog List</a></li>
											<li><a href="#">Blog Grid Sidebar</a></li>
											<li><a href="#">Blog Details</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Shop<i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Shop Grid</a></li>
											<li><a href="#">Shop Details</a></li>
											<li><a href="#">Cart</a></li>
											<li><a href="#">Checkout</a></li>
										</ul>
									</li>
									<li><a href="#">Contact</a></li>
									<li>
										<a href="#">Account<i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Dashboard</a></li>
											<li><a href="#">Profile</a></li>
											<li><a href="#">My Campaigns</a></li>
											<li><a href="#">Pledges Received</a></li>
											<li><a href="#">Backed Campaigns</a></li>
											<li><a href="#">Rewards</a></li>
											<li><a href="#">Payments</a></li>
										</ul>
									</li>
								</ul>
							</nav><!-- .main-menu -->
							<div class="search-icon">
								<a href="#" class="ion-ios-search-strong"></a>
								<div class="form-search"></div>
								<form action="#" method="POST" id="searchForm">
									  <input type="text" value="" name="search" placeholder="Search..." />
									<button type="submit" value=""><span class="ion-ios-search-strong"></span></button>
								  </form>
							</div>
							{% if user.is_authenticated %}	
								<div class="profile-icon">
									<a href="{% url 'account-dashboard' %}" class="ion-ios-person-outline"></a>
								</div>
								<div class="login login-button">
									<a href="{% url 'account-logout' %}" class="btn-primary">Logout</a>
								</div><!-- .logout -->
							{% else %}	
								<div class="login login-button">
									<a href="{% url 'account-login' %}" class="btn-primary">Login</a>
								</div><!-- .login -->
							{% endif %}	
						</div><!--. right-header -->
					</div><!-- .container -->
				</div>
			</header>
			<!-- Header end -->

			<!-- Flash messages -->
			{% if messages%}
				{%for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<!-- Flash messages end -->

			{% block content %}
			{% endblock content%}

			<!-- Footer -->
			<footer id="footer" class="site-footer">
				<div class="footer-menu">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-4 col-4">
								<div class="footer-menu-item">
									<h3>Our company</h3>
									<ul>
										<li><a href="#">What is Startup Idea</a></li>
										<li><a href="#">About us</a></li>
										<li><a href="#">How It Works</a></li>
										<li><a href="#">What Is This</a></li>
										<li><a href="#">Jobs</a></li>
										<li><a href="#">Press</a></li>
										<li><a href="#">Starts</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4 col-4">
								<div class="footer-menu-item">
									<h3>Campaign</h3>
									<ul>
										<li><a href="#">Start Your Campaign</a></li>
										<li><a href="#">Pricing Campaign</a></li>
										<li><a href="#">Campaign Support</a></li>
										<li><a href="#">Trust & Safety</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">Privacy Policy</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4 col-4">
								<div class="footer-menu-item">
									<h3>Explore</h3>
									<ul>
										<li><a href="#">Design & Art</a></li>
										<li><a href="#">Crafts</a></li>
										<li><a href="#">Film & Video</a></li>
										<li><a href="#">Food</a></li>
										<li><a href="#">Book</a></li>
										<li><a href="#">Games</a></li>
										<li><a href="#">Technology</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-sm-12 col-12">
								<div class="footer-menu-item newsletter">
									<h3>Newsletter</h3>
									<div class="newsletter-description">Private, secure, spam-free</div>
									<form action="#" method="POST" id="newsletterForm">
										  <input type="text" value="" name="s" placeholder="Enter your email..." />
										<button type="submit" value=""><span class="ion-android-drafts"></span></button>
									  </form>
									  <div class="follow">
										  <h3>Follow us</h3>
										  <ul>
											  <li class="facebook"><a target="_Blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											  <li class="twitter"><a target="_Blank" href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											  <li class="instagram"><a target="_Blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											  <li class="google"><a target="_Blank" href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											  <li class="youtube"><a target="_Blank" href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
										  </ul>
									  </div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- .footer-menu -->
				<div class="footer-copyright">
					<div class="container">
						<p class="copyright">2020 by Grecerola. All Rights Reserved.</p>
						<a href="#" class="back-top">Back to top<span class="ion-android-arrow-up"></span></a>
					</div>
				</div>
			</footer>
			<!-- Footer end -->
		</div>
       

		  <!-- jQuery -->    
		  <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
		  <script src="{% static 'js/popper.js' %}"></script>
		  <script src="{% static 'js/bootstrap.min.js' %}"></script>
		  <script src="{% static 'js/carousel.min.js' %}"></script>
		  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
		  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
		  <script src="{% static 'js/wow.min.js' %}"></script>
		  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
		  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
		  <script src="{% static 'js/magicsuggest-min.js' %}"></script>
		  <script src="{% static 'js/quill.core.js' %}"></script>
		  <script src="{% static 'js/quill.js' %}"></script>
		  <!-- orther script -->
		  <script src="{% static 'js/main.js' %}"></script>
		  <script>
			function validate(evt) {
			  var theEvent = evt || window.event;
			  var key = theEvent.keyCode || theEvent.which;
			  key = String.fromCharCode( key );
			  var regex = /[0-9]|\./;
			  if( !regex.test(key) ) {
				theEvent.returnValue = false;
				if(theEvent.preventDefault) theEvent.preventDefault();
			  }
			}
		</script>
    </body>
</html>
