{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
		<meta name="description" content="leafbark allows everyone the opportunity to invest in property with. Find a property you like and contribute towards its purchase - Soon become a share owner of the property.">
		<meta name="keywords" content="Property, Investment, Real Estate, Land, South Africa">
		<title>leafbark | Property Growdfunding</title>
		<link rel="icon" href="{% static 'assets/img/favicon/favicon.ico' %}" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'assets/vendor/strokegap/style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bundle.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    </head>
    <body id="top">
		<header class="header header-shrink header-inverse fixed-top">
			<div class="container">
			  <nav class="navbar navbar-expand-lg px-md-0">
				<a class="navbar-brand" href="{% url 'campaign-home' %}">
				  <span class="logo-default">
					<h2 class="text-white">LEAFBARK</h2>
				  </span>
				  <span class="logo-inverse">
					<h2 class="text-white">LEAFBARK</h2>
				  </span>
				</a>
				<button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
				  <div class="hamburger hamburger--spin js-hamburger">
					<div class="hamburger-box">
					  <div class="hamburger-inner"></div>
					</div>
				  </div>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Explore
						<i class="lnr lnr-chevron-down u-fs-12 ml-1"></i>
					  </a>
					  <div class="dropdown-menu box-shadow-v2" aria-labelledby="navbarDropdown">
						{% for type in campaign_types %}
							<a class="dropdown-item" href="/explore/{{ type.name }}">{{ type.name }}</a>
						{% endfor %}
					  </div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="{% url 'campaign-management' %}">
							Management
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#">
						  About
						</a>
					</li>
					<li class="nav-item dropdown">
					  <a class="nav-link" href="#">
						Contact
					  </a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="#">
						  FAQs
						</a>
					</li>
					<li>
						{% if user.is_authenticated %}	
							<a href="{% url 'account-dashboard' %}" class="btn btn-border-primary  u-ml-30 u-w-140">
								Dashboard
							</a>
						{% else %}
							<a href="{% url 'account-login' %}" class="btn btn-border-primary  u-ml-30 u-w-100">
								Login
							</a>
						{% endif %}
					</li>
				  </ul>
				</div>
			  </nav>
			</div>
		  </header>

		{% block content %}
        {% endblock content%}


		<footer>
			<section class="bg-secondary">
				<div class="container">
				<hr class="u-my-60 bg-dark-grey">
				<div class="row">
				  <div class="col-lg-4">
					<h2 class="text-dark-grey">LEAFBARK</h2>
					<p class="u-my-40 text-dark-grey">
					  Nam liber tempor cum soluta nobis eleifend they option congue is nihil imper per tem por legere is me velit doming vulputate.
					</p>
					<form class="form-inline">
					  <div class="input-group box-shadow-v1 u-rounded-50 bg-secondary u-of-hidden">
						<div class="input-group-addon bg-secondary border-0 pl-4 pr-3">
						  <span class="icon icon-Mail text-dark-grey"></span>
						</div>
						<input type="text" class="form-control border-0 p-3" placeholder="Enter your email">
						<button type="submit" class="input-group-btn btn bg-secondary">
						  <span class="icon icon-Arrow text-dark-grey"></span>
						</button>
					  </div>
					</form>
				  </div>
				  <div class="col-lg-2 ml-auto">
					<h4 class="text-dark-grey">Useful Links</h4>
					<div class="u-h-4 u-w-50 bg-dark-grey rounded mt-3 u-mb-40"></div>
					<ul class="list-unstyled u-lh-2">
					  <li class="text-dark-grey">
						<a href="#">Our Mission</a>
					  </li>
					  <li class="text-dark-grey">
						<a href="#">Testimonials</a>
					  </li>
					  <li class="text-dark-grey">
						<a href="#">FAQs</a>
					  </li>
					  <li class="text-dark-grey">
						<a href="#">Blog </a>
					  </li>
					  <li class="text-dark-grey">
						<a href="#">Contact</a>
					  </li>
					</ul>
				  </div>
				  <div class="col-lg-3 ml-auto">
					<h4 class="text-dark-grey">Contact Info</h4>
					<div class="u-h-4 u-w-50 bg-dark-grey rounded mt-3 u-mb-40"></div>
					<ul class="list-unstyled">
					  <li class="mb-2 text-dark-grey">
						<span class="icon icon-Phone2 text-dark-grey mr-2"></span> 021 456 7890
					  </li>
					  <li class="mb-2 text-dark-grey">
						<span class="icon icon-Mail text-dark-grey mr-2"></span>
						<a href="">info@leafbark.com</a>
					  </li>
					  <li class="mb-2 text-dark-grey">
						<span class="icon icon-Pointer text-dark-grey mr-2"></span> Cape Town, South Africa
					  </li>
					</ul>
					<ul class="list-inline social social-rounded social-white mt-4">
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa fa-facebook"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa fa-twitter"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa fa-google-plus"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa fa-linkedin"></i>
						</a>
					  </li>
					</ul>
				  </div>
				</div>
			  </div>
			</section>
			<section class="bg-secondary">
				<footer class=box-shadow-v4>
					<div class=container>
						<div class="row align-items-center">
							<div class="col-lg-6 py-5 text-center text-lg-left text-dark-grey">
								<span>© Copyright 2020 -
									<a target=_blank href="#">leafbark</a>
								</span>
							</div>
						</div>
					</div>
				</footer>
			</section>
		</footer>
		<div class="scroll-top bg-white box-shadow-v3">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
		</div>
		<script src="{% static 'assets/js/bundle.js' %}"></script>
		<script src="{% static 'assets/js/devdap.js' %}"></script>

    </body>
</html>
