{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
		<meta name="description" content="leafbark allows everyone the opportunity to invest in property with. Find a property you like and contribute towards its purchase - Soon become a share owner of the property.">
		<meta name="keywords" content="Property, Investment, Real Estate, Land, South Africa">
		<title>leafbark | Property Growdfunding</title>
		<link rel="icon" href="{% static 'assets/img/favicon/favicon.ico' %}" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'assets/vendor/strokegap/style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bundle.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    </head>
    <body id="top">

		{% block content %}
        {% endblock content%}
		
		<script src="{% static 'assets/js/bundle.js' %}"></script>
		<script src="{% static 'assets/js/devdap.js' %}"></script>
    </body>
</html>
