{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1 class="text-white">
                    Contact Us
                </h1>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="lead text-white">
                    Find our details below and get in touch because we're always excited to hear from you.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}