{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1 class="text-white">
                    Contact Us
                </h1>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="lead text-white">
                    Find our details below and get in touch because we're always excited to hear from you.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="u-pt-md-100 u-pb-md-70">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="media align-items-center justify-content-center">
                    <span class="icon icon-Phone2 u-fs-lg-60 u-fs-40 0 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">+27 73 078 3071</p>
                        <p class="mb-0">Mon-Fri 9am-6pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="media align-items-center">
                    <span class="icon icon-Mail u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">info@leafbark.com</p>
                        <p class="mb-0">email support</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="media align-items-center">
                    <span class="icon icon-Pointer u-f-lgs-6 u-fs-40 text-primary mr-3"></span>
                    <div class="media-body">
                        <p class="u-fs-lg-24 color-heading mb-1">Rondebosch, Cape Town</p>
                        <p class="mb-0">15 Phillips Rd</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
<iframe src="https://maps.google.com/maps?q=Rustenberg%20Centre&t=k&z=13&ie=UTF8&iwloc=&output=embed"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock content %}