{% extends "base/_application_navigation.html" %}
{% load static %}


{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center" data-dark-overlay="6" style="background-image: url('/static/assets/img/about/hero-all.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h1 class="text-white">Our Projects</h1>
                <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
                <p class="lead">
                    Choose from our interesting projects and start 
                    <br> your investment journey
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        
        <div class="row align-items-center">
            
            {% for campaign in campaigns %}
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent" style="background-color:#F0F0F0;">
                    <div class="u-pos-rel">
                        <a href="#">
                            <img class="w-100" src="{{ campaign.get_first_image.image.url }}"  alt="">
                        </a>
                    </div>
                        <div class="author-address"><span class="fa fa-map-marker"></span> {{ campaign.location.suburb }}, {{ campaign.location.country }}</div>
                        <div class="category">{{ campaign.campaign_type.name }}</div>
                        <div class="py-4">
                        <a href="#">
                            <h5 class="campaign-name">
                            {{ campaign.name }}
                            </h5>
                        </a>
                        <p class="mb-0 description-wrapper">
                           {{campaign.description}}
                        </p>
                        
                        <div class="progress progress-wrapper">
                            <div class="progress-bar" aria-valuenow="{{campaign.get_campaign_progress}}"></div>
                        </div>
                        <div class="process-raised">R{{ campaign.investment_raised_amount }}<span style="font-size: 13px;"> Invested</span></div>
                        <div class="process-goal">R{{ campaign.total_investment_amount }}<span style="font-size: 13px;"> Goal</span></div> 
                        <a class="invest-btn" href="#">
                            <button class="btn btn-sm btn-rounded btn-yellow px-md-3 m-3">Invest</button>
                        </a>
                        <a class="details-btn" href="#">
                            <button class="btn btn-sm btn-rounded btn-yellow px-md-3 m-3">Details</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock content %}
