{% extends "base/_application_navigation.html" %} {% load static %}
{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h1 class="text-white">
          Frequently Asked Questions
        </h1>
        <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
        <p class="lead text-white">
          Let's answer some of the questions you may have.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="bg-gray-v4">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <div class="h3 text-center text-primary">About LeafBark</div>
        <div id="accordion" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
              <i class="fa fa-angle-down mr-3"></i>
              What is LeafBark?
            </a>
            <div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                LeafBark is a real estate investment marketplace that allows investors to buy equity shares of rental
                apartments in
                major cities.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc2">
              <i class="fa fa-angle-down mr-3"></i>
              How does it work?
            </a>
            <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                LeafBark finds and "slices" an apartment’s ownership into multiple equal equity shares depending on the
                property funding required. Each share owns an
                equity interest in one apartment, and only one apartment. Shares can be purchased by individual
                investors.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc3">
              <i class="fa fa-angle-down mr-3"></i>
              Who owns the apartments?
            </a>
            <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                Each apartment is registered under its own (Special Purpose Vehicle) company. So technically you as
                an investor own the property in a form of a share.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc4">
              <i class="fa fa-angle-down mr-3"></i>
              What am I actually investing in?
            </a>
            <div id="acc4" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                You are investing in a single apartment unit, the ownership of which has been divided into multiple
                equity shares according to the required funding. For example, if you buy 10,000 shares in a property
                that is divided into 100 000 shares, you would own 10% of that apartment’s stock.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center text-primary">About Properties</div>
        <div id="accordion2" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc5">
              <i class="fa fa-angle-down mr-3"></i>
              What kind of properties are available through LeafBark?
            </a>
            <div id="acc5" class="collapse show" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                High quality apartments in major cities, not only the types of properties that we aspire to own and
                live in but also those that have a great investment potential.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc6">
              <i class="fa fa-angle-down mr-3"></i>
              Who lives in the apartments that you acquire?
            </a>
            <div id="acc6" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                The apartments will be rented to a traditional market-rate tenant.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc7">
              <i class="fa fa-angle-down mr-3"></i>
              How do you select properties?
            </a>
            <div id="acc7" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We make use of data-driven technology to target certain cities that have extraordinary catalysts for
                appreciation potential. We then
                seek out apartment units in our favorite buildings that we can acquire at a price that makes sense.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc8">
              <i class="fa fa-angle-down mr-3"></i>
              Who handles the property management?
            </a>
            <div id="acc8" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We partner with experienced property management companies that uses technology to manage the properties.
                These companies make use of the technology to handle all the functions including:
                rental appraisals and reviews, sourcing quality tenants (advertising properties, screening and selecting
                tenants), minimizing vacancy rates, creating and managing leasing arrangements as well as rental
                collections.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc9">
              <i class="fa fa-angle-down mr-3"></i>
              What is the strategy for the properties and when is a property sold?
            </a>
            <div id="acc9" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We intend to manage the properties as traditional apartment rentals, rented out to market-rate tenants
                through 12-month leases. We intend to hold the properites for a long term period. However,each property
                will be reviewed after 5-10 years for its performance and value. If the property is sold the sale
                proceeds will be distributed to investors.<br><br>

                You’ll have the opportunity to liquidate your property shares on the Resale Market if you wish to exit
                an
                investment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center text-primary">Investing through LeafBark</div>
        <div id="accordion3" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc10">
              <i class="fa fa-angle-down mr-3"></i>
              How do I buy shares?
            </a>
            <div id="acc10" class="collapse show" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                Buying shares is easy with LeafBark. Here’s how to do it:<br><br>
                <ol>
                  <li>Click the 'explore' button on the navigation bar or 'start investing' on the homepage</li>
                  <li>Browse and choose your desired property investment</li>
                  <li>Click 'more details' to review the offering and click 'invest'</li>
                  <li>Enter the number of shares you would like to purchase and confirm</li>
                  <li>Pay through our payment gateway partner, or deposit money into your wallet and pay</li>
                  <li>Become an owner!</li>
                </ol>
                Note: your account should be verified and your banking details should be updated before you make an
                investment.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc11">
              <i class="fa fa-angle-down mr-3"></i>
              What is the minimum investment?
            </a>
            <div id="acc11" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                The minimum investment amount varies for each property. This amount is equal to one full share value.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc12">
              <i class="fa fa-angle-down mr-3"></i>
              ?
            </a>
            <div id="acc12" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                We make use of data-driven technology to target certain cities that have extraordinary catalysts for
                appreciation potential. We then
                seek out apartment units in our favorite buildings that we can acquire at a price that makes sense.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc13">
              <i class="fa fa-angle-down mr-3"></i>
              Who handles the property management?
            </a>
            <div id="acc13" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                We partner with experienced property management companies that uses technology to manage the properties.
                These companies make use of the technology to handle all the functions including:
                rental appraisals and reviews, sourcing quality tenants (advertising properties, screening and selecting
                tenants), minimizing vacancy rates, creating and managing leasing arrangements as well as rental
                collections.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc14">
              <i class="fa fa-angle-down mr-3"></i>
              What is the strategy for the properties and when is a property sold?
            </a>
            <div id="acc14" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                We intend to manage the properties as traditional apartment rentals, rented out to market-rate tenants
                through 12-month leases. We intend to hold the properites for a long term period. However,each property
                will be reviewed after 5-10 years for its performance and value. If the property is sold the sale
                proceeds will be distributed to investors.<br><br>

                You’ll have the opportunity to liquidate your property shares on the Resale Market if you wish to exit
                an
                investment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}