{% extends "base/_application_navigation.html" %} {% load static %}
{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h1 class="text-white">
          Frequently Asked Questions
        </h1>
        <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
        <p class="lead text-white">
          Let's answer some of the questions you may have.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="bg-gray-v4">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <div class="h3 text-center">About LeafBark</div>
        <div id="accordion" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
              <i class="fa fa-angle-down mr-3"></i>
              What is LeafBark?
            </a>
            <div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                LeafBark is a real estate investment marketplace that allows investors to buy equity shares of rental
                apartments in
                major cities.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc2">
              <i class="fa fa-angle-down mr-3"></i>
              How does it work?
            </a>
            <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                LeafBark finds and "slices" an apartment’s ownership into multiple equal equity shares depending on the
                property funding required. Each share owns an
                equity interest in one apartment, and only one apartment. Shares can be purchased by individual
                investors.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc3">
              <i class="fa fa-angle-down mr-3"></i>
              Who owns the apartments?
            </a>
            <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                Each apartment is registered under its own (Special Purpose Vehicle) company. So technically you as
                an investor own the property in a form of a share.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc4">
              <i class="fa fa-angle-down mr-3"></i>
              What am I actually investing in?
            </a>
            <div id="acc4" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                You are investing in a single apartment unit, the ownership of which has been divided into multiple
                equity shares according to the required funding. For example, if you buy 10,000 shares in a property
                that is divided into 100 000 shares, you would own 10% of that apartment’s stock.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc5">
              <i class="fa fa-angle-down mr-3"></i>
              Is LeafBark registered and regulated?
            </a>
            <div id="acc5" class="collapse" role="tabpanel" data-parent="#accordion">
              <div class="accordion__text">
                LeafBark is a product of Upsitec (PTY) LTD (reg no: 2018/367038/07). LeafBark is a real estate
                crowdfunding platform. Crowdfunding platforms are not yet directly regulated in South Africa. However,
                our platform is in compliance with the existing relevant legislation. i.e The Financial Services Conduct
                Authority, the Consumer Protection Act, Protection of Personal Information Act as well as the Companies
                Act.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center">About Properties</div>
        <div id="accordion2" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc6">
              <i class="fa fa-angle-down mr-3"></i>
              What kind of properties are available through LeafBark?
            </a>
            <div id="acc6" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                High quality apartments in major cities, not only the types of properties that we aspire to own and
                live in but also those that have a great investment potential.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc7">
              <i class="fa fa-angle-down mr-3"></i>
              Who lives in the apartments that you acquire?
            </a>
            <div id="acc7" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                The apartments will be rented to a traditional market-rate tenant.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc8">
              <i class="fa fa-angle-down mr-3"></i>
              How do you select properties?
            </a>
            <div id="acc8" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We make use of data-driven technology to target certain cities that have extraordinary catalysts for
                appreciation potential. We then
                seek out apartment units in our favorite buildings that we can acquire at a price that makes sense.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc9">
              <i class="fa fa-angle-down mr-3"></i>
              Who handles the property management?
            </a>
            <div id="acc9" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We partner with experienced property management companies that uses technology to manage the properties.
                These companies make use of the technology to handle all the functions including:
                rental appraisals and reviews, sourcing quality tenants (advertising properties, screening and selecting
                tenants), minimizing vacancy rates, creating and managing leasing arrangements as well as rental
                collections.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc10">
              <i class="fa fa-angle-down mr-3"></i>
              What is the strategy for the properties and when is a property sold?
            </a>
            <div id="acc10" class="collapse" role="tabpanel" data-parent="#accordion2">
              <div class="accordion__text">
                We intend to manage the properties as traditional apartment rentals, rented out to market-rate tenants
                through 12-month leases. We intend to hold the properites for a long term period. However,each property
                will be reviewed after 5-10 years for its performance and value. If the property is sold the sale
                proceeds will be distributed to investors.<br><br>

                You’ll have the opportunity to liquidate your property shares on the Resale Market if you wish to exit
                an
                investment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center">Investing through LeafBark</div>
        <div id="accordion3" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc11">
              <i class="fa fa-angle-down mr-3"></i>
              How do I buy shares?
            </a>
            <div id="acc11" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                Buying shares is easy with LeafBark. Here’s how to do it:<br><br>
                <ol>
                  <li>Click the 'explore' button on the navigation bar or 'start investing' on the homepage</li>
                  <li>Browse and choose your desired property investment</li>
                  <li>Click 'more details' to review the offering and click 'invest'</li>
                  <li>Enter the number of shares you would like to purchase and confirm</li>
                  <li>Pay through our payment gateway partner, or deposit money into your wallet and pay</li>
                  <li>Become an owner!</li>
                </ol>
                Note: your account should be verified and your banking details should be updated before you make an
                investment.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc12">
              <i class="fa fa-angle-down mr-3"></i>
              What is the minimum investment?
            </a>
            <div id="acc12" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                The minimum investment amount varies for each property. This amount is equal to one full share value.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc13">
              <i class="fa fa-angle-down mr-3"></i>
              Can I invest in multiple properties at the same time?
            </a>
            <div id="acc13" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                Yes. In fact that is what we highly recommend. By buying shares in different properties, you are
                diversifying your investment portfolio. This helps you reduce the risk involved.In addition, it allows
                you to build a balanced portfolio which could protect you against any market unpredictability.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc14">
              <i class="fa fa-angle-down mr-3"></i>
              What happens if LeafBark does not raise the full offering amount before a closing date?
            </a>
            <div id="acc14" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                When investors buy shares in a property that reaches the full offering target, settlement can take
                place. If not enough investors purchase Property shares by the funding date then the property is
                withdrawn
                and investors monies are returned to their account.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc15">
              <i class="fa fa-angle-down mr-3"></i>
              How long do I have to keep my investment for?
            </a>
            <div id="acc15" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                There is no term or time restrictions for how long you can own shares for.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc16">
              <i class="fa fa-angle-down mr-3"></i>
              Where are my funds held?
            </a>
            <div id="acc16" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                Prior to the closing of a property offering, funds will be held in a trust account separate from
                LeafBark's business operating account. Upon closing, the funds will be used to acquire the property.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc17">
              <i class="fa fa-angle-down mr-3"></i>
               Why is there a discrepancy between the purchase price and the offering amount?
            </a>
            <div id="acc17" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                The offering amount includes operating and capital reserves, closing costs, and offering costs.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc18">
              <i class="fa fa-angle-down mr-3"></i>
              Is my personal information secure?
            </a>
            <div id="acc18" class="collapse" role="tabpanel" data-parent="#accordion3">
              <div class="accordion__text">
                We do the best we can to keep your information safe. The platform is built with high-end
                data encryption, secure payments processes and we conduct regular testing to check and improve our
                platform security.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center">How you make money</div>
        <div id="accordion4" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc19">
              <i class="fa fa-angle-down mr-3"></i>
              How does my investment with LeafBark earn a return?
            </a>
            <div id="acc19" class="collapse" role="tabpanel" data-parent="#accordion4">
              <div class="accordion__text">
                LeafBark investments offers both capital gain opportunities and rental returns:<br><br>

                <b>Monthly Rental Returns:</b><br>
                As a shares owner you will receive your share of the net rental income.
                Rent is collected from each property's tenants and shared proportionately among the investors who have
                shares in that property (less the Property Management fee and any costs).
                Your share of net rental income is paid directly into your wallet each month. You can
                either withdraw your monthly rental income or reinvest them to build your portfolio.<br><br>

                <b>Capital gains:</b><br>
                If the property's value goes up, or down, so does your share value.

                Each property's performance is tracked using area data and independent property valuations. This
                information is used as a price guide for investors. When the time is right you can sell your
                shares by offering them to other potential buyers on the platform.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc20">
              <i class="fa fa-angle-down mr-3"></i>
              Are my returns taxable?
            </a>
            <div id="acc20" class="collapse" role="tabpanel" data-parent="#accordion4">
              <div class="accordion__text">
                We will not make any tax deductions as LeafBark. However, any type of gain usually attracts income tax
                while a capital investment attracts capital gain tax in South Africa.

                Please do your own research or refer to a tax advisor about tax implications of owning an asset in South
                Africa.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc21">
              <i class="fa fa-angle-down mr-3"></i>
              What can I do with my monthly dividends?
            </a>
            <div id="acc21" class="collapse" role="tabpanel" data-parent="#accordion4">
              <div class="accordion__text">
                It's up to you. You can either withdraw your monthly rental dividends or reinvest them to build your
                portfolio(recommeded).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <div class="h3 text-center">Fees/Costs</div>
        <div id="accordion5" role="tablist" class="bg-pure-white box-shadow-v1">
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc22">
              <i class="fa fa-angle-down mr-3"></i>
              What are LeafBark Fees?
            </a>
            <div id="acc22" class="collapse" role="tabpanel" data-parent="#accordion5">
              <div class="accordion__text">
                You pay 1.5% on the purchase of shares, this fee will be embeded on the property offering. e.g. if each
                share price R450 initially, R6.75 will be added for service fee and the net share price will be R456.75.
                1.5% fee will also be added when you sell the share on the secondary marketplace but will be covered by
                the buyer.<br><br>

                2% service fee will be deducted from the monthly dividends.<br><br>

                In addition, LeafBark will retain any interest that is earned on investor funds in the trust account for
                the period that they are held. This interest is retained as an
                administration fee.<br><br>

                LeafBark fees may change at any time. However, they will always be in the best interest of the investors
                and we will inform our investors 30 days in advance of any change in fees.
              </div>
            </div>
          </div>
          <div class="accordion__faq">
            <a class="accordion__title p-4" data-toggle="collapse" href="#acc23">
              <i class="fa fa-angle-down mr-3"></i>
              What are the property management company's fees?
            </a>
            <div id="acc23" class="collapse" role="tabpanel" data-parent="#accordion5">
              <div class="accordion__text">
                Property Management Companies charge 2.5% of the rent to provide their management services. The fee
                covers a full "all-in" service. Any deviation from this fee will be clearly identified in any offers
                placed on the platfrom.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h5 text-center mt-4 ">Have more questions? <a href="{% url 'contact-us' %}" class="text-primary"> <u>Contact us.</u></a></div>
</section>
{% endblock content %}