{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
<main id="main" class="site-main">
    <!-- Home header -->
    <div class="sideshow">
        <div class="container">
            <div class="sideshow-content">
                {% with campaigns.first as main_campaign %}
                <h1 class="wow fadeInUp" data-wow-delay=".1s">{{ main_campaign.name }}</h1>
                <div class="sideshow-description wow fadeInUp" data-wow-delay=".1s">{{ main_campaign.story }}</div>
                <div class="process wow fadeInUp" data-scroll-nav="1">
                    <div class="raised"><span style="width: 29%;"></span></div>
                    <div class="process-info">
                        <div class="process-funded"><span>{{ main_campaign.investment_raised_amount }}</span>raised</div>
                        <div class="process-pledged"><span>{{ main_campaign.total_investment_amount }}</span>goal</div>
                        <div class="process-backers"><span>32</span>investors</div>
                        <!-- <div class="process-time"><span>21</span>days ago</div> -->
                    </div>
                </div>
                {% endwith %}
                <div class="button wow fadeInUp" data-wow-delay="0.1s">
                    <a href="#" class="btn-secondary">See Investment</a>
                    <a href="#" class="btn-primary">Invest Now</a>
                </div>
            </div><!-- .sideshow-content -->
        </div>
    </div>
    <!-- Home header end -->
    <div class="project-love">
        <div class="container">
            <h2 class="title">Projects We Love</h2>
            <div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
            <div class="tab-menu tab-row">
                <ul id="bx-pager" class="menu-category">
                    {% for type in campaign_types %}
                        {% if forloop.first %}
                            <li class="mc-option active" data-tab="{{ type.name }}"><a href="#" data-slide-index="{{ forloop.counter0 }}">{{ type.name }}</a></li>
                        {% else %}
                            <li class="mc-option" data-tab="{{ type.name }}"><a href="#" data-slide-index="{{ forloop.counter0 }}">{{ type.name }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li class="cat-more"><a href="#">More</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="popular-project">
                        {% for type in campaign_types %}
                            {% if forloop.first %}
                                <div id="{{ type.name }}" class="pp-item active">
                                    <h4>{{ type.name }}</h4>
                                    <p>{{ type.description }}</p>
                                </div>  
                            {% else %}
                                <div id="{{ type.name }}" class="pp-item">
                                    <h4>{{ type.name }}</h4>
                                    <p>{{ type.description }}</p>
                                </div> 
                            {% endif %}
                        {% endfor %}

                        <a href="#" class="btn-primary">Start a Campaign</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="project-love-slider pls-col">
                        {% for campaign in campaigns %}
                        <li>
                            <div class="project-love-item clearfix">
                                <a class="project-love-image" href="#"><img src="{{ campaign.get_first_image.image.url }}" alt=""></a>
                                <div class="project-love-item-content project-love-box">
                                    <a href="#" class="category">{{ campaign.campaign_type.name }}</a>
                                    <h3><a href="#">{{ campaign.name }}</a></h3>
                                    <div class="project-love-description">{{ campaign.story }}</div>
                                    <div class="project-love-author">
                                        <div class="author-profile">
                                            <a class="author-avatar" href="#"><img src="{{ campaign.posted_by.avatar.url }}" alt=""></a>by <a class="author-name" href="#">{{ campaign.posted_by.get_full_name }}</a>
                                        </div>
                                        <div class="author-address"><span class="ion-location"></span>{{ campaign.location.city }}, {{ campaign.location.country }}</div>
                                    </div>
                                    <div class="process">
                                        <div class="raised"><span style="width: 99%;"></span></div>
                                        <div class="process-info">
                                            <div class="process-pledged"><span>{{ campaign.total_investment_amount }}</span>goal</div>
                                            <div class="process-funded"><span>{{ campaign.investment_raised_amount }}</span>raised</div>
                                            <div class="process-time"><span>37</span>investors</div>
                                            <!-- <div class="process-time"><span>23</span>days ago</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .project-love -->
</main>
{% endblock content %}