{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
<main id="main" class="site-main">
    <!-- Home header -->
    <div class="sideshow">
        <div class="container">
            <div class="sideshow-content">
                <h1 class="wow fadeInUp" data-wow-delay=".1s">Bring new ideas to life, anywhere</h1>
                <div class="sideshow-description wow fadeInUp" data-wow-delay=".1s">Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu teus.</div>
                <div class="process wow fadeInUp" data-scroll-nav="1">
                    <div class="raised"><span></span></div>
                    <div class="process-info">
                        <div class="process-funded"><span>46%</span>funded</div>
                        <div class="process-pledged"><span>R360 000</span>raised</div>
                        <div class="process-backers"><span>32</span>investors</div>
                        <div class="process-time"><span>21</span>days ago</div>
                    </div>
                </div>
                <div class="button wow fadeInUp" data-wow-delay="0.1s">
                    <a href="#" class="btn-secondary">See Investment</a>
                    <a href="#" class="btn-primary">Invest Now</a>
                </div>
            </div><!-- .sideshow-content -->
        </div>
    </div>
    <!-- Home header end -->

</main>
{% endblock content %}