{% extends "base/_application_navigation.html" %}
{% load static %}

{% block content %}
<section class="u-py-40 u-pt-lg-50 u-pb-lg-50 u-flex-center bg-primary">
</section>

<section class="big-pure-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="u-h-5vh">Invest in {{ campaign.name }}</h2>
                <div class="u-mb-20 text-muted">By investing in {{ campaign.name }}, you are purchasing shares at R200 per share.</div>

                <hr class="mt-sm-1 u-mb-20">

                <form action="#" method="POST">
                        <div class="col-md-12 text-muted">
                            <div class="row">
                            </div>
                            <div class="row border rounded">
                                <div class="col-md-6 align-self-center">
                                    Number of Shares
                                </div>
                                <div class="col-md-6 pr-0">
                                    <input class="border-0" placeholder="Enter # of shares..." type="number" min="1" required>
                                </div>
                             </div>
                            
                        </div>
                        <!--div class="col-md-6 u-mb-30">
                            <input type="tel" placeholder="Phone number">
                        </div-->
                        
                        
                    
                    <div class="text-center">
                        <button class="btn btn-primary"> Send Request</button>
                    </div>
             </form>
        </div>
        </div>
    </div>
</section>


{% endblock content %}